<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>Puzzle Development Framework Application</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<!-- Framework Listener -->
	<listener>
		<listener-class>io.anyway.puzzle.bridge.hook.PuzzleListener</listener-class>
	</listener>
	<!-- Framework Filter -->
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>	
	<filter>
		<filter-name>framework-filter</filter-name>
		<filter-class>io.anyway.puzzle.bridge.hook.PuzzleFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>framework-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Hibernate Session Filter-->
	<filter>
		<filter-name>openSessionInViewFilter</filter-name>
		<filter-class>io.anyway.puzzle.bridge.hibernate.FrameworkSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>openSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
