<?xml version="1.0" encoding="UTF-8"?>
<web-fragment>

	<servlet>
		<servlet-name>demo2-dispatcher</servlet-name>
		<servlet-class>io.anyway.puzzle.core.spring.PluginDispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>demo2-dispatcher</servlet-name>
		<url-pattern>/rest/demo2/*</url-pattern>
	</servlet-mapping>

</web-fragment>
